<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolunteerApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".admin.AdminUpdateEvent"
                  android:exported="false"/>
        <activity
            android:name=".admin.AdminDetailsEvent"
            android:exported="false" />
        <activity
            android:name=".user.MissionActivity"
            android:exported="false" />
        <activity
            android:name=".user.AchievementActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ViewParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminUpcomingActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAddEvent"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".user.EventUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.EventListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.EventUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.EventListActivity"
            android:exported="false" />
        <activity
            android:name=".user.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>